<div class=" container editprofile">
    <div class="row">
        <div class="col-md-4">
            <%= render "reservations/sidebar"%>
        </div>
        <div class="col-md-4">
            <div class="card mt-3" style="width: 50rem;">
                <strong><div class="card-header bg-success text-light text-center"></strong>
                    Your Reservations
                </div>
                <div class="card-body">
                    <% @rooms.each do |room| %>
                        <% room.reservations.each do |reservation| %>
                        <div class="row">
                            <div class="col-3">
                                <%= reservation.start_date.strftime('%v') %>
                            </div>
                            <div class="col-2">
                                <% if reservation.room.photos.any? %>
                                    <%= image_tag reservation.room.photos.first.image.url, class: "mr-5 profile_picture_index" %>
                                <% else %>
                                    <%= image_tag "no-image.png", class: "mr-5 profile_picture_index2"  %>
                                <% end %>
                            </div>
                            <div class="col-5">
                                <%= reservation.room.name %>
                                <%= image_tag avatar_url(reservation.user), class: "rounded-circle profile_picture mx-3" %>
                                <%= reservation.user.name %>
                            </div>
                            <div class="col-2">
                                <%= render partial: "reviews/host_form", locals: {reservation: reservation} %>
                                <%# <%= link_to "Review Guest","#", class: "btn btn-outline-success" %>
                            </div>
                        </div>
                        <div class="border-bottom my-3"></div>
                        <% end %>
                    <% end %>
                </div>
                <%# <div class="pagenate mt-1 text-center"><%= will_paginate %>
            </div>  
        </div>
    </div>
</div>
