<div class="container  mt-3 pb-4">
    <div class="row">
        <div class="col-md-3">
            <%= render "rooms/sidebar"%>
        </div>
        <div class="col-md-4">
            <div class="card mt-3" style="width: 50rem;">
                <strong>
                    <div class="card-header bg-success text-light">
                        Photo
                    </div>
                <strong>
                <div class="p-3">
                    <div class="p-3">
                        <%= form_for @room, url: room_photos_path(@room), method: 'post', html: {multipart: true} do |f| %>
                            <div class="row">
                                <div class="col-md-6 offset-md-4">
                                    <%= label_tag "images[]", "Select Photos", class: "btn btn-outline-success my-2 my-sm-0"%>
                                    <%= file_field_tag "images[]", type: :file, multiple: true, class: "image_form" %>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 offset-md-4 mt-3">
                                    <%= f.submit "Add Photos", class: "btn btn-outline-success my-2 my-sm-0 ml-2" %>
                                </div>
                            </div>
                        
                        <% end %>
                        <div class="border-bottom my-3"></div>
                        <div id = "photos">
                            <%= render "photos/photos_list" %>
                        </div>
                    </div>    
                </div>    
            </div>   
        </div>
    </div>
</div>