<div class="container">
    <div class="row">
        <div class="col-md-3">
         <%= render "rooms/sidebar"%>
        </div>
        <div class="col-md-4">
            <div class="card mt-3" style="width: 50rem;">
                <strong><div class="card-header bg-success text-light">
                    Price
                </div><strong>
                <div class="p-3">
                    <div class="p-3">
                <%= form_for @room do |f| %>
                    <div class="price">
                        <%= f.label :Price %>
                        <p><%= f.text_field :price, placeholder: "eg: $100", class:"form-control" %></p>
                    </div>
                    <div class="row">
                        <%= f.submit "Save", class: "btn btn-outline-success my-2 my-sm-0 ml-3" %>
                    </div>
                <% end %>
            </div>    
        <div>
    <div>
</div>