<div class="container">
    <div><%= image_tag "no-image.png", class: "container-fluid show_page_photo" %></div>
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col-6">
                    <h1><%= @room.name %></h1>
                    <h3><%= @room.address %></h3>
                </div>
                <div class="col-6 text-right">
                    <div><%= image_tag avatar_url(@room.user), class: "rounded-circle profile_picture_show" %></div>
                    <div class="mr-3 mt-2"><%= @room.user.name %></div>
                </div>
            </div>
            <hr>
            <div class="row mt-5">
                <div class="col-3 text-center">
                    <i class="fa fa-home iconsize"></i>
                    <p><%= @room.home_type %></p>
                </div>
                <div class="col-3 text-center">
                    <i class="fa fa-users iconsize"></i>
                    <p><%= @room.gest_count %> Guests</p>
                </div>
                <div class="col-3 text-center">
                    <i class="fa fa-bed iconsize"></i>
                    <p><%= @room.bedroom_count %> Bedrooms</p>
                </div>
                <div class="col-3 text-center">
                    <i class="fa fa-bath iconsize"></i>
                    <p><%= @room.bathroom_count %> Bathrooms</p>
                </div>
            </div>
            <hr>
            <h3>About this listing</h3>
            <h4>description</h4>
            <br>
            <div class="row">
                <div class="col-4">
                    <h3>Amenities</h3>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                            <span class="<%= 'line_through' unless @room.has_TV? %>">TV</span>
                        </div>
                        <div class="col-6">
                            <span class="<%= 'line_through' unless @room.has_kitchen? %>">Kitchen</span>
                        </div>
                        <div class="col-6">
                            <span class="<%= 'line_through' unless @room.has_internet? %>">Internet</span>
                        </div>
                        <div class="col-6">
                            <span class="<%= 'line_through' unless @room.has_heating? %>">Heating</span>
                        </div>
                        <div class="col-6">
                            <span class="<%= 'line_through' unless @room.has_air_conditioning? %>">Air Conditioner</span>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
            <hr>
            <div class="container"><h1>Review</h1>
            </div>
            <hr>
            <div class="container">
                <h1>picture</h1>
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <% @room.photos.each do |photo| %>
                            <li data-target="#carouselExampleIndicators" data-slide-to="<%= photo.id %>"></li>
                        <% end %>
                    </ol>
                    <div class="carousel-inner">
                        <% @room.photos.each do |photo| %>
                            <div class="carousel-item <%= 'active' if photo.id == @room.photos.first.id %>">
                                <%= image_tag photo.image.url, class:"d-block w-100" %>
                            </div>
                        <% end %>
                    </div>

                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <hr>
            <div class="container"><h1>MAp</h1>
                <div id="map"></div>
                <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrmXuImdRD6uPU91vHUXXaU-iCnaJpFjk"></script>
                <script>
                    function initialize() {
                        var location = {lat: Number("<%= @room.latitude %>"), lng: Number("<%= @room.longitude%>")};
                        var map = new google.maps.Map(document.getElementById('map'),{
                            center: location,
                            zoom: 5
                        });

                        var marker = new google.maps.Marker({
                            position: location,
                            map: map
                        });

                        var infoWindow = new google.maps.InfoWindow({
                            content: '<div id="content"><%= image_tag @room.photos.first.image.url %></div>'
                        });

                        infoWindow.open(map, marker);
                    }

                    google.maps.event.addDomListener(window,'load', initialize);
                </script>
            </div>
            <hr>
            <div class="container">
            <h4>Nearbys</h4>
                <div class="row pt-2 mb-5 pb-4">
                    <% if @room.nearbys %>
                        <% for room in @room.nearbys(10) %>
                            <div class="col-md-5">
                                <div class="card">
                                    <div class="card-header preview">
                                        <%= image_tag room.photos.first.image.url, width:"220",height:"300",class:"mx-auto"  %>
                                    </div>
                                    <div class="card-body">
                                        <%= link_to room.name, room %> <br/>
                                        (<%= room.distance.round(2) %> kms away)
                                    </div>
                                </div>
                            </div>
                        <% end %>
                    <% end %>
                </div>
            </div> 
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header bg-success text-light text-left">
                    <h4>$<%= @room.price %><span class="float-right">Per Night</span></h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <%= form_for :reservation, url:"#" do |f|  %>
                            <h4><span id="message"></span></h4>
                                <div class="row">
                                    <div class="col-6">
                                        <%= f.label :check_in %>
                                        <%= f.text_field :start_date, readonly:true, placeholder:"Start Date", class:"w-100 form-control" %>
                                    </div>
                                    <div class="col-6">
                                        <%= f.label :check_out %>
                                        <%= f.text_field :end_date, readonly:true, placeholder:"End Date", class:"w-100 form-control", disabled: true %>
                                    </div>
                                    <div id="preview" style="display: none;" class="mt-2">
                                        <hr>
                                        <div>Price: <%= @room.price %></div>
                                        <div>Number of Nights:<span id="reservation-nights"></span></div>
                                        <div>Total Price: <span id="reservation-total"></span></div>
                                        <hr>
                                    </div> 
                                <%= f.submit "Book Room", class: "form-control btn btn-outline-success mt-3", id: "btn-book", disabled: true %>
                            <% end %>

                                    <script>

                                        function checkDate(date) {
                                            dmy = date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
                                            return [$.inArray(dmy, unavailableDates) == -1];
                                        }

                                        $(function() {

                                            unavailableDates = [];

                                            $.ajax({
                                                url: '<%= preload_room_path(@room) %>',
                                                dateType: 'json',
                                                success: function(data) { //data=resrvation
                                                    // get each reservation and check if it is unavailable
                                                    // if it is unavailable, add it to array unavailableDates
                                                    $.each(data, function(arrID, arrValue) {
                                                        for(var d = new Date(arrValue.start_date); d <= new Date(arrValue.end_date); d.setDate(d.getDate() + 1)) {
                                                            unavailableDates.push($.datepicker.formatDate('d-m-yy', d));
                                                        }
                                                    })

                                                    <%# var val = 0;
                                                    for (var num = 0; num < 3; num++){
                                                    val = val + num;
                                                    } %>
                                                    
                                                    $('#reservation_start_date').datepicker({
                                                        dateFormat: 'dd-mm-yy',
                                                        minDate: 0,
                                                        maxDate: '3m',
                                                        beforeShowDay: checkDate,
                                                        onSelect: function(selected) {
                                                            $('#reservation_end_date').datepicker("option", "minDate", selected);
                                                            $('#reservation_end_date').attr("disabled", false);
                                                        
                                                            var start_date = $('#reservation_start_date').datepicker('getDate');
                                                            var end_date = $('#reservation_end_date').datepicker('getDate');
                                                            var nights = (end_date - start_date)/1000/60/60/24 + 1;

                                                            var input = {
                                                                'start_date': start_date,
                                                                'end_date': end_date
                                                            }

                                                            $.ajax({
                                                                url: '<%= preview_room_path(@room) %>',
                                                                data: input,
                                                                success: function(data) {
                                                                    if (data.conflict) {
                                                                        $('#message').text("These dates are not available.");
                                                                        $('#preview').hide();
                                                                        $('#btn-book').attr('disabled', true);
                                                                    } else {
                                                                        $('#message').text("");
                                                                        $('#preview').show();
                                                                        $('#btn-book').attr('disabled', false);

                                                                        var total = nights * <%= @room.price %>;
                                                                        $('#reservation-nights').text(nights);
                                                                        $('#reservation-total').text(total);
                                                                    }
                                                                }
                                                            });

                                                        }
                                                    });

                                                    $('#reservation_end_date').datepicker({
                                                        dateFormat: 'dd-mm-yy',
                                                        minDate: 0,
                                                        maxDate: '3m',
                                                        beforeShowDay: checkDate,
                                                        onSelect: function(selected) {
                                                            $('#reservation_start_date').datepicker("option", "maxDate", selected);
                                                        
                                                            var start_date = $('#reservation_start_date').datepicker('getDate');
                                                            var end_date = $('#reservation_end_date').datepicker('getDate');
                                                            var nights = (end_date - start_date)/1000/60/60/24 + 1;

                                                            var input = {
                                                                'start_date': start_date,
                                                                'end_date': end_date
                                                            }

                                                            $.ajax({
                                                                url: '<%= preview_room_path(@room) %>',
                                                                data: input,
                                                                success: function(data) {
                                                                    if (data.conflict) {
                                                                        $('#message').text("These dates are not available.");
                                                                        $('#preview').hide();
                                                                        $('#btn-book').attr('disabled', true);
                                                                    } else {
                                                                        $('#message').text("");
                                                                        $('#preview').show();
                                                                        $('#btn-book').attr('disabled', false);

                                                                        var total = nights * <%= @room.price %>;
                                                                        $('#reservation-nights').text(nights);
                                                                        $('#reservation-total').text(total);
                                                                    }
                                                                }
                                                            });
                                                        }
                                                    });
                                                }
                                            });
                                        });
                                    </script>
                                </div>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>      
</div>