<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <%= link_to "Home", root_path, class: "navbar-brand" %>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="ml-auto">
            <div class="collapse navbar-collapse nav-item" id="navbarSupportedContent">
                <ul class="navbar-nav nav-item">
                    <% if user_signed_in? %>
                        <div class="nav-item mr-2">
                            <%= link_to "Become a host", new_room_path(current_user),  class: "btn btn-outline-success mt-2" %>
                        </div>
                        <div class="nav-item mr-2">
                            <%= image_tag avatar_url(current_user), class: "rounded-circle profile_picture" %>
                        </div>
                        <div class="nav-item mr-5 mt-1">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <%= current_user.name %>
                                </a>
                            <li class="nav-item dropdown">
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <%= link_to "Manage Listing ", rooms_path, class: "dropdown-item" %>
                                    <a class="dropdown-item" href="#">List Your Space</a>
                                    <a class="dropdown-item" href="#">Your Reservations</a>
                                    <a class="dropdown-item" href="#">Your Tripss</a>
                                        <div class="dropdown-divider"></div>
                                    <%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %>
                                    <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                                </div>
                            </li>
                        </div>    
                    <% else %>
                        <div class="nav-item">
                            <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %></a>
                        </div>
                        <div class="nav-item">
                            <%= link_to "Login", new_user_session_path, class: "nav-link" %></a>
                        </div>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</nav>