<div class=" container editprofile">
    <div class="row">
        <div class="col-md-4">
            <div class="card mt-3">
                <strong><div class="card-header bg-success text-light text-center"></strong>
                    Edit Profile
                </div>
                <div class="card-body m-auto">
                    <%= link_to "View Profile", user_path(current_user), class:"btn btn-outline-success" %>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mt-3" style="width: 50rem;">
                <strong><div class="card-header bg-success text-light text-center"></strong>
                    Your Profile
                </div>
                <div class="p-3">
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                        <%= render "shared/devise_messages" %>

                        <div class="form-group">
                            <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Your Name", class: "form-control" %>
                        </div>

                        <div class="form-group">
                            <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", placeholder: "Phone-Number", class: "form-control" %>
                        </div>

                        <div class="form-group">
                            <%= f.text_area :description, autofocus: true, autocomplete: "description", rows: 5, placeholder: "Description", class: "form-control" %>
                        </div>

                        <div class="form-group">
                            <%# <%= f.label :email %>
                            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control" %>
                        </div>

                        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                        <% end %>

                        <div class="form-group">
                            <%# <%= f.label :password %>
                            <%= f.password_field :password, autocomplete: "new-password", placeholder: "New-Password", class: "form-control" %>
                        </div>
                        <div class="actions">
                            <%= f.submit "Update", class: "btn btn-outline-success btn-block w-50 m-auto" %>
                        </div>
                    <% end %>
                </div>    
            </div>   
        <div>
    <div>
</div>
